<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Sortable</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <style>
      table{box-shadow: 0px 0px 1px 1px #dee2e6;}
      body {min-height: 100vh;display: flex;margin: 50px 0}
      .container {margin: auto;}
      .handle{cursor: move;}
      .hidden{display: none;}
      .list-pagination {width: 100%;}
      .content-footer {display: flex;}
      input.btn.btn-primary {opacity: 0;z-index: -1;position: relative;}
      .highlight{background-color: #007bff;color: white;}
      img {width: 45px;height: 45px;border-radius: 50%;}
      .table td, .table th{vertical-align: middle;}
    </style>
  </head>
  <body id="-_-list-Posts">
    <div class="container">
        <table class="table">
          <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">FirstName</th>
            <th scope="col">LastName</th>
            <th scope="col">Avatar</th>
            </tr>
          </thead>
          <tbody id="table-order">
            <% for(let i = 1; i < 15; i++) { %>
                <tr class="item-sort" data-id="<%=i%>">
                    <th class="handle" scope="row"><%=i%></th>
                    <td><%=faker.name.lastName()%></td>
                    <td><%=faker.name.firstName()%></td>
                    <td><img src="<%=faker.image.avatar() %>"></td>
                  </tr>
            <% } %>
          </tbody>
          </table>
          <section class="content-footer">
            <div class="list-pagination">
              <div class="list-pagination-counter">
                  <strong>15</strong> résultats
              </div>
            </div>
            <!-- <form method="POST">
              <textarea id="dataSortable" class="hidden" name="jsonSortable">Default value</textarea>
              <input class="btn btn-primary" id="sendSortable" type="submit" value="Update sort">
            </form> -->
          </section>
      </div>
  </body>
</html>